langchain-core
streamlit
langchain-community
numexpr
pydantic
transformers
pandas
langchain_chroma
langchain_experimental
langchain_huggingface
flashrank
langchain_ollama
langgraph
python-iso639
duckduckgo-search
sentencepiece
unstructured
langchain-unstructured
nltk