# Requirements for the project

streamlit==1.39 #the UI framework | Latest versions have a bug: https://github.com/streamlit/streamlit/issues/7949
duckduckgo_search #to make search engine requests
ollama==0.4.2 #to run the actual llm #https://github.com/ollama/ollama-python/issues/366
chromadb #used for storage embeddings
langchain-community
unstructured==0.7.12 #https://github.com/langchain-ai/langchain/issues/8714
langchain_text_splitters
langchain
sentence_transformers
langsmith #used for having better debugging view
langgraph #multi agents
#pygraphviz # used to generate Langgraph Diagram | only installable with 2 steps via: https://pygraphviz.github.io/documentation/stable/install.html
alt-profanity-check #find potential bad language. Original package is not well maintained
numexpr #for LLMMathChain
langchainhub #for prompt templates
langchain-chroma
fastembed #used for langchain_community.embeddings.fastembed embeddings
sentence-transformers #used for langchain_community.embeddings.fastembed embeddings
langchain_openai #For Communication to Ollama REST endpoint
ipython #used for generating an image
langchain-experimental
mypy
langdetect
iso639-lang
pylint #used for building a UML class of a selected python file
langchain_ollama
langchain_experimental
flashrank
langchain-huggingface #HuggingFaceEmbeddings
langchain_community